---
layout: page
---

<head>
    <style>
        .patents {
            margin-left: 19px;
            display: flex;
            flex-direction: row;
            column-gap: 30px;
            row-gap: 30px;
        }
        .patent_title {
            font-size: 1.1rem;
        }
        .patent_date {
            font-size: 0.9rem;
        }
    </style>
</head>
<!-- List static external links to publications here -->
{{content}}

<h3>US Patents</h3>
<div class="patents">
    {% for patent in site.data.patents %}
        <span>
            <a class="patent_title" href="{{ patent.url }}">{{patent.title}}</a>
            <br/> 
            <span class="patent_date">
                {{patent.date_filed}}
            </span>
        </span>
    {% endfor %}
</div>

<br/>

<h3>Conference publications</h3>
<!-- Then automatically render local sites in ./_publications dir -->
<ul>
    {% assign all_pubs = site.data.publications | concat: site.publications %}
    {% for pub in all_pubs %}
        {% if pub.ext_url == "none" %}
            <li>{{pub.title}} – {{pub.conference}}</li>
        {% elsif pub.external and pub.ext_url %}
            <li><a href="{{ pub.ext_url }}" target="_">{{pub.title}}</a> – {{pub.conference}}</li>
        {% else %}
            <li><a href="{{ pub.url | relative_url }}">{{pub.title}}</a> – {{pub.conference}}</li>
        {% endif %}
    {% endfor %}
</ul>
