---
layout: page
---
<head>
    <link rel="stylesheet" href="{{ '/assets/css/publications.css' | relative_url }}" />
</head>
<!-- List static external links to publications here -->
{{content}}

<h3>US Patents</h3>
<!-- CARD LAYOUT -->
<!-- <div class="patentlist">
    {% for patent in site.data.patents %}
        <a class="patent_card" href="{{ patent.url }}" target="_">
            <h6 class="patent_title">{{patent.title}}</h6>
            <div class="patent_date">
                {{patent.date_filed}}
            </div>
        </a>
    {% endfor %}
</div> -->

<!-- TABLE LAYOUT -->
<table>
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
     </colgroup>
    <tr>
        <th class="date">Date</th>
        <th>Patent Title</th>
    </tr>
    {% for patent in site.data.patents %}
        <tr>
            <td class="date">{{patent.date_filed}}</td>
            <td class="patent_title">
                <a href="{{ patent.url }}" target="_">
                    {{patent.title}}
                </a>
            </td>
        </tr>
    {% endfor %}
</table>

<h3 class="spacer">Conference presentations</h3>
<!-- Then automatically render local sites in ./_publications dir -->
<table>
    <colgroup>
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 60%;">
     </colgroup>
    <tr>
        <th class="date">Date</th>
        <th>Conference</th>
        <th>Title</th>
    </tr>
    <!-- FIXME: The where_exp filter does not work here :( -->
    <!-- {% assign site_pubs = site.posts | where_exp: "item", "item.conference" %} -->
    {% assign all_pubs = site.posts | concat: site.data.publications %}
    {% for pub in all_pubs %}
        {% if pub.conference %}
            {% if pub.ext_url == "none" %}
                <tr>
                    <td class="date">{{pub.date_str}}</td>
                    <td>{{pub.conference}}</td>
                    <td class="conference_title">{{pub.conference_title}}</td>
                </tr>
            {% elsif pub.external and pub.ext_url %}
                <tr>
                    <td class="date">{{pub.date_str}}</td>
                    <td>{{pub.conference}}</td>
                    <td class="conference_title"><a href="{{ pub.ext_url }}" target="_">{{pub.conference_title}}</a></td>
                </tr>
                <!-- <li><a href="{{ pub.ext_url }}" target="_">{{pub.title}}</a> – {{pub.conference}}</li> -->
            {% else %}
                <tr>
                    <td class="date">{{pub.date_str}}</td>
                    <td>{{pub.conference}}</td>
                    <td class="conference_title"><a href="{{ pub.url }}" target="_">{{pub.conference_title}}</a></td>
                </tr>
                <!-- <li><a href="{{ pub.url | relative_url }}">{{pub.title}}</a> – {{pub.conference}}</li> -->
            {% endif %}
        {% endif %}
    {% endfor %}
</table>
